:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: scroll;
  background: var(--greyLight-1);
}

body {
  height: 100%;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1 1 auto;
}

/* HEADER */
header {
  background: #171d3e;
  color: var(--white);
  text-align: left;
  font-weight: 400;

  margin-bottom: 0;
  padding-bottom: 0;
}

/* FOOTER */
footer {
  background: #171d3e;
  color: var(--white);
  padding: 2rem;
  text-align: left;
  font-size: 1.4rem;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
}

@media screen and (min-width: 900px) {
  html {
    font-size: 75%;
  }
  .container {
    max-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background: #d5d5d5;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .components {
    width: 60%;
    height: 60%;
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2),
      -0.2rem -0.2rem 1.8rem var(--white);
    padding: 4rem;
    display: grid;
    grid-template-columns: 2fr minmax(2rem, 1fr);
    grid-template-rows: repeat(auto-fit, min-content);
    grid-column-gap: 1.5rem;
    grid-row-gap: 2.5rem;
    justify-items: center;
    background: white;
  }
  .components2 {
    width: 60%;
    height: 60%;
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2),
      -0.2rem -0.2rem 1.8rem var(--white);
    padding: 4rem;
    align-items: center;
    display: none;
    background: white;
  }
  .wrapper {
    width: 100%;
    height: inherit;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: repeat(auto-fit, min-content);
    grid-column-gap: 1.5rem;
    grid-row-gap: 2.5rem;
    justify-items: center;
    margin-bottom: 5%;
  }

  header {
    font-size: 1.9rem;
    padding: 1.2rem;
  }

  footer {
    font-size: 1.4rem;
    padding: 2rem;
  }

  /*  BUTTONS  */
  .btn {
    width: 15rem;
    height: 4rem;
    border-radius: 5rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
      -0.2rem -0.2rem 0.5rem var(--white);
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .btn__primary {
    background: #4a07d8;
    box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light),
      inset -0.2rem -0.2rem 1rem var(--primary-dark),
      0.3rem 0.3rem 0.6rem var(--greyLight-2),
      -0.2rem -0.2rem 0.5rem var(--white);
    color: var(--greyLight-1);
  }
  .btn__primary:hover {
    color: var(--white);
  }
  .btn__primary:active {
    box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark),
      inset -0.2rem -0.2rem 1rem var(--primary-light);
  }
  .btn__secondary {
    border: solid 0.1rem;
    border-color: #171d3e;
    color: var(--greyDark);
  }
  .btn__secondary:hover {
    color: var(--primary);
  }
  .btn__secondary:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
      inset -0.2rem -0.2rem 0.5rem var(--white);
  }
  .btn2 {
    width: 20rem;
    height: 6rem;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
      -0.2rem -0.2rem 0.5rem var(--white);
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 1.5rem;
  }
  .btn__secondary2 {
    border-radius: 5rem;
    border: solid 0.1rem;
    border-color: #171d3e;
    color: var(--greyDark);
  }
  .btn__secondary2:hover {
    color: var(--primary);
  }
  .btn__secondary2:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
      inset -0.2rem -0.2rem 0.5rem var(--white);
  }
  .btn p {
    font-size: 1.6rem;
  }

  .btn__gram {
    border: solid 0.1rem;
    border-color: #171d3e;
    color: var(--greyDark);
    width: 100%;
    height: 5rem;
    justify-items: center;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    grid-template-rows: repeat(auto-fit, min-content);*/
  }

  /*  ICONS  */
  .icon {
    justify-items: center;
    align-items: center;
    display: grid;
  }

  .icon_arrow {
    margin: 0 0 2rem 1rem;
  }
  .icon2 {
    display: none;
    width: 100%;
  }
  .icon2 .icon__add:hover {
    color: #d11a2a;
  }
  .icon__add {
    border: solid 0.1rem;
    border-color: #171d3e;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
      -0.2rem -0.2rem 0.5rem var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    color: var(--greyDark);
    transition: all 0.5s ease;
    margin: 0;
  }

  .icon__toggleActive {
    border: solid 0.1rem;
    border-color: #171d3e;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
      -0.2rem -0.2rem 0.5rem var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    color: var(--greyDark);
    transition: all 0.5s ease;
  }
  .icon__add:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
      inset -0.2rem -0.2rem 0.5rem var(--white);
    color: var(--primary);
  }
  .icon__add:hover {
    color: var(#000000);
  }

  .icon__return {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--primary-light),
      -0.2rem -0.2rem 0.5rem var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    background-color: #171d3e;
    color: var(--white);
    transition: all 0.5s ease;
  }
  .icon__return:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
      inset -0.2rem -0.2rem 0.5rem var(--white);
    color: var(--greyDark);
  }
  .icon__return:hover {
    color: var(--greyDark);
  }

  /* MENU CONTAINER */

  .menu {
    width: 100%;
    align-content: end;
    margin-top: 0;
    padding-top: 0;
  }

  .gram-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(content, 1fr));
    padding: 0;
    grid-gap: 0.7rem;
  }

  .weightButtonItem {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0.5rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(2rem, 1fr));
    justify-items: center;
  }

  .feed-menu {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .time-planner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(content, 1fr));
    justify-items: center;
    align-items: center;
    padding-bottom: 3rem;
  }

  .text-plan {
    width: 100%;
    padding: 1rem;
    border: solid #171d3e;
    border-radius: 2rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    margin: 1rem 0.2rem;
  }

  .feed-button {
    width: 15rem;
    height: 4rem;
    border-radius: 5rem;
    background-color: #4a07d8;
    color: var(--greyLight-1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .activeWeight {
    background-color: green;
  }

  /* PROGRESS BAR */

  .progress-container {
    height: 100%;
    display: grid;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
  }

  .barcontainer {
    background-color: var(--primary-light);
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    width: 15rem;
    height: 100%;
  }

  .bar {
    background-color: #1e2754;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    border-top: 6px solid black;
    box-sizing: border-box;
    animation: grow 1.5s ease-out forwards;
    transform-origin: bottom;
  }
  @keyframes grow {
    from {
      transform: scaleY(0);
    }
  }

  .progressText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    color: white;
  }
}

@media screen and (max-width: 900px) {
  .container {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background: #d5d5d5;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .components {
    width: 70%;
    height: 50%;
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2),
      -0.2rem -0.2rem 1.8rem var(--white);
    padding: 4.5rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(20rem, 1fr));
    grid-template-rows: repeat(auto-fit, min-content);
    grid-column-gap: 1.5rem;
    grid-row-gap: 2.5rem;
    align-items: center;
    background: white;
  }
  .components2 {
    width: 70%;
    height: 50%;
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2),
      -0.2rem -0.2rem 1.8rem var(--white);
    padding: 4.5rem;
    display: none;
    align-items: center;
    background: white;
  }
  .wrapper {
    width: 100%;
    height: inherit;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: repeat(auto-fit, min-content);
    grid-column-gap: 1.5rem;
    grid-row-gap: 2.5rem;
    justify-items: center;
    margin-bottom: 5%;
  }

  header {
    font-size: 1.5rem;
    padding: 1.5rem;
    margin-bottom: 0;
  }
  footer {
    font-size: 1.2rem;
    padding: 1.2rem;
  }

  /*  BUTTONS  */
  .btn {
    width: 15rem;
    height: 4rem;
    border-radius: 5rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
      -0.2rem -0.2rem 0.5rem var(--white);
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .btn2 {
    width: 20rem;
    height: 6rem;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
      -0.2rem -0.2rem 0.5rem var(--white);
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 1.5rem;
    margin-top: 5%;
    margin-right: 10%;
  }
  .btn__primary {
    background: #4a07d8;
    box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light),
      inset -0.2rem -0.2rem 1rem var(--primary-dark),
      0.3rem 0.3rem 0.6rem var(--greyLight-2),
      -0.2rem -0.2rem 0.5rem var(--white);
    color: var(--greyLight-1);
  }
  .btn__primary:hover {
    color: var(--white);
  }
  .btn__primary:active {
    box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark),
      inset -0.2rem -0.2rem 1rem var(--primary-light);
  }
  .btn__secondary {
    border: solid 0.1rem;
    border-color: #171d3e;
    color: var(--greyDark);
  }
  .btn__secondary:hover {
    color: var(--primary);
  }
  .btn__secondary:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
      inset -0.2rem -0.2rem 0.5rem var(--white);
  }
  .btn__secondary2 {
    border-radius: 5rem;
    border: solid 0.1rem;
    border-color: #171d3e;
    color: var(--greyDark);
  }
  .btn p {
    font-size: 1.6rem;
  }

  /*  ICONS  */
  .icon {
    grid-column: 3/4;
    grid-row: 4/5;
    display: grid;
    justify-content: center;
  }
  .icon2 {
    display: none;
  }

  .icon_arrow {
    margin: 0 0 2rem 1rem;
  }
  .icon__add {
    border: solid 0.1rem;
    border-color: #171d3e;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
      -0.2rem -0.2rem 0.5rem var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    color: var(--greyDark);
    transition: all 0.5s ease;
  }
  .icon__add:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
      inset -0.2rem -0.2rem 0.5rem var(--white);
    color: var(--primary);
  }
  .icon__add:hover {
    cursor: pointer;
    color: var(--primary);
  }
  .icon2 .icon__add:hover {
    cursor: pointer;
    color: #d11a2a;
  }

  .icon__return {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--primary-light),
      -0.2rem -0.2rem 0.5rem var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    background-color: #171d3e;
    color: var(--white);
    transition: all 0.5s ease;
  }
  .icon__return:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
      inset -0.2rem -0.2rem 0.5rem var(--white);
    color: var(--greyDark);
  }
  .icon__return:hover {
    color: var(--greyDark);
  }

  /* PROGRESS BAR */

  .bar__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    color: #1f193f;
  }

  .progress-container {
    display: grid;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
  }

  .barcontainer {
    background-color: var(--primary-light);
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    width: 60rem;
    height: 25rem;
  }

  .bar {
    background-color: #1e2754;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    border-top: 0.4rem solid black;
    box-sizing: border-box;
    animation: grow 1.5s ease-out forwards;
    transform-origin: bottom;
  }
  @keyframes grow {
    from {
      transform: scaleY(0);
    }
  }

  .progressText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    color: white;
  }
}
